{% load bootstrap3 %} {% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FlipGram</title>
     {% block styles %} {% bootstrap_css %} {% endblock %}
</head>

<!--Styling-->
<style>
    h1{
        font-family: fantasy;
        text-align: center;
        font-size: 50px;

    }

    .container{
        background-color: blue;
        padding: 200px; 
        text-align: center;
        border-radius: 15px;
    }
</style>
<!--End of styling-->
     {% include "navbar.html" %} {% block content %}
<body>
    <div class="container">
        <h1>Here Comes The Gram</h1>
    </div>
</body>
     {%endblock%} {% block scripts %}
<!--Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> {% bootstrap_javascript %} {% endblock %}
</html>