<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<!--Start of styling-->
<style>
    .well{
        background-color:white;
        margin-left:25%;
        margin-right:25%;
        opacity:0.9;
        padding-top: -10%;
    }

    h3{
        padding-left:20px;
        padding-right: 20px;
        
    }
</style>
<!--end of styling-->
<body>
     {%extends 'base.html'%} {% block content %} {{block.super}}
    
    <body>
        <div class="well">
            <h3 style="margin-top: -10px; font-size: 15px; font-weight: bold" >
                <img style="width:50px;height:50px;border-radius:118px;" src="../static/images/sexiboys (1).JPG"> itsramza
            </h3>
            <hr style="background-color: black;">
            <img class="img-responsive" src="../static/images/sexiboys.JPG">
        <div class="uk-card uk-card-default uk-card-body uk-width-3-2@m " style="margin-top: 5%">
            <p>
               Family first only the realest can relate
            </p>
        </div>
        </div>

        <div class="well">
            <h3 style="margin-top: -10px; font-size: 15px; font-weight: bold">
                <img style="width:50px;height:50px;border-radius:118px;" src="../static/images/sexiboys (1).JPG"> itsramza
            </h3>
            <hr style="background-color: black;">
            <img class="img-responsive" src="../static/images/walker.jpg">
            <div class="uk-card uk-card-default uk-card-body uk-width-3-2@m " style="margin-top: 5%">
                <p>
                   A legend in  music 
                </p>
            </div>
        </div>
        <div class="well">
            <h3 style="margin-top: -10px; font-size: 15px; font-weight: bold">
                <img style="width:50px;height:50px;border-radius:118px;" src="../static/images/illest.jpg"> _illest.niccur
            </h3>
            <hr style="background-color: black;">
            <img class="img-responsive" src="../static/images/steph-curry-12-30-17.jpg">
            <div class="uk-card uk-card-default uk-card-body uk-width-3-2@m " style="margin-top: 5%">
                <p>
                   Golden State Warriors champion
                </p>
            </div>
        </div>
    </body>
    {% endblock %}
</body>
</html>